@import 'styles/_constants.scss';

.DetailsPanel {
  /*
    Hard-coded until I can figure out why the flex styling doesn't
    work in Firefox or Edge.
  */
  height: calc(100% - 65px);
  display: flex;
  flex-direction: row;
}

.tableView {
  width: 100%;
  height: 100%;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.currentTable {
  height: 100%;
}

.ReactTable {
  max-height: 100%;
}

.InfoPanel {
  width: 100%;
  flex: 1 1 auto;
}

.ExpenseTable {
  flex: 1 1 auto;
}

.fabs {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 35px;
  margin-bottom: 20px;

  > {
    display: inline;
  }
}
