@import 'styles/_constants.scss';

.DetailsPanel {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.tableView {
  width: 100%;
  height: 100%;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.currentTable {
  display: flex;
  flex-direction: column;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.InfoPanel {
  width: 100%;
  flex: 1 1 auto;
}

.BudgetTable {
  flex: 1 1 auto;
}