.MonthPicker {
  display: inline-block;
  width: auto;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  .button-left {
    margin-right: 5px;
  }

  .button-right {
    margin-left: 5px;
  }
}

.dateText {
  margin-left: 10px;
  vertical-align: middle;
}

#month {
  margin-right: 5px;
}