@import 'styles/_constants.scss';

.NavBar {
  text-align: center;
  height: 100%;
  width: 200px;
  background-color: $secondary-bg-color;
}

.header {
  margin-top: 25px;
  margin-bottom: 50px;
}

.active .menuItem {
  background-color: #E0E1E3;
}
