.TopBar {
  height: 65px;
  min-height: 65px;
  width: 100%;
  display: flex;
  align-items: center;

  * {
    vertical-align: middle;
    color: white !important;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      display: inline;
    }
  }
}

.left {
  margin: 0;
  margin-left: 10px;
}

.right {
  margin: 0 0 0 auto;
  margin-right: 10px;
}

.left, .right {
  display: inline;
}

.MenuButton {
  margin-left: 10px !important;
}
