@import 'styles/_constants.scss';

.TopBar {
  height: 75px;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  align-items: center;

  > * {
    vertical-align: middle;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }
}

