a:link {
    text-decoration: none;
    border-bottom:none;
}

a:visited {
    text-decoration: none;
    border-bottom:none;
}

a:active {
    text-decoration: none;
    border-bottom:none;
}

.full-height {
    height: 100%;
}

.browserWarning {
    text-align: center;
    margin-top: 25px;
}
